@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;

}

:root {
  --color-primary: #0F766E;
}

.primary-btn {

  @apply bg-[#ade9d5] text-[#0F766E] border
}

/* [data-theme="dark"] {
  --color-primary: #bbd42d;
  /* Dark mode primary - a lighter teal */


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));